@font-face {
    font-family: 'Wingman';
    src: url('styles/fonts/TAYWingman.woff2') format('woff2')
         url('styles/fonts/TAYWingman.woff') format('woff'),
         url('styles/fonts/TAYWingman.otf') format('opentype');
    font-display: swap;
    text-align:center
  }
  
  body {
    font-family: 'Wingman', sans-serif;
  }
  
  h1 {
    font-family: 'Wingman', serif;
  }
/* Makes the Alfie doodle appear orange */
.alfie-color {
    filter: sepia(0.8) saturate(3) hue-rotate(-15deg) brightness(1.05);
  }
  
  

  